force-app/main/default/flows/ScheduleCreator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setStep1</name>
        <label>Set Step 1</label>
        <locationX>176</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageNewServiceSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenNewServiceSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStep2</name>
        <label>Set Step 2</label>
        <locationX>299</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageReviewSessions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShowBack</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenReviewSessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStep3</name>
        <label>Set Step 3</label>
        <locationX>421</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageAddServiceParticipants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenAddParticipants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStep4</name>
        <label>Set Step 4</label>
        <locationX>553</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageReviewServiceSchedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShowFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenReviewServiceSchedule</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>labelAddServiceParticipants</name>
        <dataType>String</dataType>
        <expression>{!$Label.Add_Service_Participants}</expression>
    </formulas>
    <formulas>
        <name>labelDateTime</name>
        <dataType>String</dataType>
        <expression>{!$Label.Service_Schedule_Date_Time}</expression>
    </formulas>
    <formulas>
        <name>labelReview</name>
        <dataType>String</dataType>
        <expression>{!$Label.Review}</expression>
    </formulas>
    <formulas>
        <name>labelReviewSessions</name>
        <dataType>String</dataType>
        <expression>{!$Label.Review_Sessions}</expression>
    </formulas>
    <formulas>
        <name>labelScheduleInformation</name>
        <dataType>String</dataType>
        <expression>{!$Label.Service_Schedule_Information}</expression>
    </formulas>
    <interviewLabel>Schedule Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screenAddParticipants</name>
        <label>Add Participants</label>
        <locationX>553</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setStep4</targetReference>
        </connector>
        <fields>
            <name>addServiceParticipants</name>
            <extensionName>c:section</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>labelAddServiceParticipants</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigateAddParticipants</name>
            <extensionName>c:flowNavigationApi</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewServiceSchedule</name>
        <label>New Service Schedule</label>
        <locationX>299</locationX>
        <locationY>177</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setStep2</targetReference>
        </connector>
        <fields>
            <name>titleScheduleInformation</name>
            <extensionName>c:section</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>labelScheduleInformation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>titleLabelDateTime</name>
            <extensionName>c:section</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>labelDateTime</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigateNewServiceSchedule</name>
            <extensionName>c:flowNavigationApi</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReviewServiceSchedule</name>
        <label>Review Service Schedule</label>
        <locationX>695</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>titleReview</name>
            <extensionName>c:section</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>labelReview</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigateReviewServiceSchedule</name>
            <extensionName>c:flowNavigationApi</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReviewSessions</name>
        <label>Review Sessions</label>
        <locationX>421</locationX>
        <locationY>301</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setStep3</targetReference>
        </connector>
        <fields>
            <name>titleReviewSessions</name>
            <extensionName>c:section</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>labelReviewSessions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigateReviewSessions</name>
            <extensionName>c:flowNavigationApi</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>stageAddServiceParticipants</name>
        <isActive>true</isActive>
        <label>Add Service Participants</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>stageNewServiceSchedule</name>
        <isActive>true</isActive>
        <label>New Service Schedule</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>stageReviewServiceSchedule</name>
        <isActive>true</isActive>
        <label>Review Service Schedule</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>stageReviewSessions</name>
        <isActive>true</isActive>
        <label>Review Sessions</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>setStep1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>test</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varServiceSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceSchedule__c</objectType>
    </variables>
    <variables>
        <name>varShowBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varShowFinish</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varShowNext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
