force-app/main/default/flows/ScheduleCreator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setStep1</name>
        <label>Set Step 1</label>
        <locationX>176</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageNewServiceSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenNewServiceSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStep2</name>
        <label>Set Step 2</label>
        <locationX>299</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageReviewSessions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenReviewSessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStep3</name>
        <label>Set Step 3</label>
        <locationX>421</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageAddServiceParticipants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenAddParticipants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStep4</name>
        <label>Set Step 4</label>
        <locationX>553</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stageReviewServiceSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenReviewServiceSchedule</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Schedule Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screenAddParticipants</name>
        <label>Add Participants</label>
        <locationX>553</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setStep4</targetReference>
        </connector>
        <fields>
            <name>navigateAddParticipants</name>
            <extensionName>c:flowNavigationApi</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewServiceSchedule</name>
        <label>New Service Schedule</label>
        <locationX>299</locationX>
        <locationY>177</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setStep2</targetReference>
        </connector>
        <fields>
            <name>navigateNewServiceSchedule</name>
            <extensionName>c:flowNavigationApi</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReviewServiceSchedule</name>
        <label>Review Service Schedule</label>
        <locationX>695</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>navigateReviewServiceSchedule</name>
            <extensionName>c:flowNavigationApi</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReviewSessions</name>
        <label>Review Sessions</label>
        <locationX>421</locationX>
        <locationY>301</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setStep3</targetReference>
        </connector>
        <fields>
            <name>navigateReviewSessions</name>
            <extensionName>c:flowNavigationApi</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>stageAddServiceParticipants</name>
        <isActive>true</isActive>
        <label>Add Service Participants</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>stageNewServiceSchedule</name>
        <isActive>true</isActive>
        <label>New Service Schedule</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>stageReviewServiceSchedule</name>
        <isActive>true</isActive>
        <label>Review Service Schedule</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>stageReviewSessions</name>
        <isActive>true</isActive>
        <label>Review Sessions</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>setStep1</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
